* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/hot.jpg) no-repeat center/cover;
}

#weather {
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease-out;
  width: 350px;
  border-radius: 10px;
  padding: 30px 20px;
  background: url(../img/hot.jpg) no-repeat center/cover;
  z-index: 100;
}

/* HOT WEATHER*/
.hot {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/hot.jpg) no-repeat center/cover;
}
.hot #weather {
  background: url(../img/hot.jpg) no-repeat center/cover;
}

/* WINTER WEATHER*/
.cold {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/winter.jpg) no-repeat center/cover;
}
.cold #weather {
  background: url(../img/winter.jpg) no-repeat center/cover;
}

/* COOL WEATHER*/
.cool {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/cool.jpg) no-repeat center/cover;
}
.cool #weather {
  background: url(../img/cool.jpg) no-repeat center/cover;
}

/* WARM WEATHER*/
.warm {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/warm.jpg) no-repeat center/cover;
}
.warm #weather {
  background: url(../img/warm.jpg) no-repeat center/cover;
}

/* SEARCH */
.weather__search {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 15px 0 15px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  font-size: 19px;
}

.weather__search:focus {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px 0 15px 0;
  border: 1px solid lightgray;
  outline: none;
}

.weather__content {
  text-align: center;
  color: #fff;
  margin: 40px 0;
  transition: 0.4s;
}

.weather__capital {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.weather__content--time {
  margin: 15px 0 20px 0;
  font-size: 18px;
}

.weather__content--time:hover {
  cursor: default;
  color: #000;
}

.weather__content--temperature {
  font-size: 65px;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  margin: 0 30px;
  padding: 20px;
}

.fa-sun {
  color: #fffed3;
  filter: drop-shadow(-8px -8px 8px rgb(237, 245, 12));
  transition: 0.4s ease-out;
}
.fa-sun:hover {
  filter: drop-shadow(0 0 8px rgb(249, 200, 40));
}

.fa-cloud {
  color: #c9c9c9;
  filter: drop-shadow(-8px -8px 8px #cc8042);
  transition: 0.4s ease-out;
}
.fa-cloud:hover {
  filter: drop-shadow(0 0 8px rgb(244, 209, 85));
}

.fa-snowflake {
  color: #fff;
  filter: drop-shadow(-8px -8px 8px lightgray);
  transition: 0.4s ease-out;
}
.fa-snowflake:hover {
  filter: drop-shadow(0 0 8px rgb(244, 209, 85));
}

.fa-cloud-sun {
  color: #fbf4ed;
  filter: drop-shadow(-8px -8px 8px rgb(255, 135, 0));
  transition: 0.4s ease-out;
}

.fa-cloud-sun:hover {
  filter: drop-shadow(0 0 8px rgb(244, 209, 85));
}

#degrees {
  position: absolute;
  transform: translate(-4px, -4px);
  font-size: 35px;
}

.weather__content--season {
  margin: 1rem 0;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.weather__content--details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather__content--details div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.weather__content--details div i {
  margin: 10px 0;
  font-size: 20px;
}
.weather__content--details div i:hover {
  color: lightskyblue;
}
.hide {
  visibility: hidden;
  opacity: 0;
}

/* Tuyết rơi */

.wrapp__snowflake {
  display: none;
}
.snowflake {
  color: lightgray;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  /* Để  tuyết luôn rơi trên màn hình và không bị ảnh hưởng, set position fixed*/
  position: fixed;
  z-index: 999; /* cho chắc =)) */
  /* tuyết cần rơi từ điểm bắt đầu nằm trên cái màn hình */
  top: -10%;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  right: 1%;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(5) {
  right: 10%;
  animation-delay: 1.5s, 1s;
}
.snowflake:nth-of-type(6) {
  right: 20%;
  animation-delay: 6.5s, 0.5s;
}
.snowflake:nth-of-type(7) {
  right: 30%;
  animation-delay: 2.5s, 2s;
}

.snowflake:nth-of-type(8) {
  left: 40%;
  animation-delay: 1.2s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 50%;
  animation-delay: 3s, 1s;
}
.snowflake:nth-of-type(10) {
  left: 55%;
  animation-delay: 3.5s, 2.5s;
}
.snowflake:nth-of-type(11) {
  left: 60%;
  animation-delay: 4.5s, 2s;
}

.snowflake:nth-of-type(12) {
  left: 0%;
  animation-delay: 1.2s, 0s;
}
.snowflake:nth-of-type(13) {
  right: 0%;
  animation-delay: 5s, 1s;
}
.snowflake:nth-of-type(14) {
  left: 3%;
  animation-delay: 3.75s, 2.5s;
}
.snowflake:nth-of-type(15) {
  right: 3%;
  animation-delay: 4.5s, 2s;
}

.snowflake:nth-of-type(16) {
  left: 15%;
  animation-delay: 1.2s, 0s;
}
.snowflake:nth-of-type(17) {
  right: 45%;
  animation-delay: 3.4s, 1s;
}
.snowflake:nth-of-type(18) {
  left: 35%;
  animation-delay: 5.5s, 2.5s;
}
.snowflake:nth-of-type(19) {
  right: 35%;
  animation-delay: 1.5s, 2s;
}

.snowflake {
  animation: snowflakes-fall 3s linear infinite;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

/* Đám mây */
.wrapp__cloud {
  display: none;
}
.cloud1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 600px;
  z-index: 1;
  animation: animateCloud 50s linear infinite;
}

.cloud2 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  z-index: 1;
  animation: animateCloud 35s linear infinite;
}

.cloud3 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 700px;
  z-index: 1;
  animation: animateCloud 80s linear infinite;
}

.cloud4 {
  position: absolute;
  top: 200px;
  left: 0;
  max-width: 300px;
  z-index: 101;
  animation: animateCloud 70s linear infinite;
  animation-delay: -20s;
}

.cloud5 {
  position: absolute;
  top: 150px;
  left: 0;
  max-width: 500px;
  z-index: 101;
  animation: animateCloud 40s linear infinite;
  animation-delay: -5s;
}

.cloud6 {
  position: absolute;
  top: 75px;
  left: 0;
  max-width: 400px;
  z-index: 1;
  animation: animateCloud 30s linear infinite;
  animation-delay: -10s;
}

@keyframes animateCloud {
  0% {
    transform: translateX(-100%) scale(1);
  }

  100% {
    transform: translateX(400%) scale(1.5);
  }
}

/* Birds */
.wrapp__birds {
  display: none;
}
.bird {
  background-image: url(../img/fly-bird.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
  position: absolute;
  top: 10rem;
}

.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
  position: absolute;
  top: 20rem;
}

.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
  position: absolute;
  top: -235px;
}

.bird--five {
  animation-duration: 1.5s;
  animation-delay: -0.5s;
  position: absolute;
  top: 30rem;
}

.bird--six {
  animation-duration: 2.5s;
  animation-delay: -1.5s;
  position: absolute;
  top: 15rem;
}

.bird--seven {
  animation-duration: 3s;
  animation-delay: -1.5s;
}
.bird--eight {
  animation-duration: 1.5s;
  animation-delay: -0.5s;
  position: absolute;
  top: 15rem;
}

.bird--nine {
  animation-duration: 1.5s;
  animation-delay: -1.5s;
  position: absolute;
  top: 35rem;
}

.bird--ten {
  animation-duration: 2.5s;
  position: absolute;
  top: 25rem;
}

.bird--eleven {
  animation-duration: 3s;
  animation-delay: -1.5s;
  transform: scale(1.2);
}
.bird--twelve {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
  position: absolute;
  top: 40rem;
  transform: scale(1.2);
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four {
  animation-duration: 16s;
  animation-delay: 2.25s;
}

.bird-container--five {
  animation-duration: 15s;
  animation-delay: 2s;
}

.bird-container--six {
  animation-duration: 25s;
  animation-delay: 2s;
}

.bird-container--seven {
  animation-duration: 13s;
  animation-delay: 2.25s;
}
.bird-container--eight {
  animation-duration: 15s;
  animation-delay: 5.25s;
}

.bird-container--nine {
  animation-duration: 20s;
  animation-delay: 1s;
}

.bird-container--ten {
  animation-duration: 25s;
  animation-delay: 2s;
}

.bird-container--eleven {
  animation-duration: 13s;
  animation-delay: 2.25s;
}
.bird-container--twelve {
  animation-duration: 15s;
  animation-delay: 5.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }

  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }

  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }

  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }

  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }

  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }

  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }

  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}

/* Mobile (Iphone) */
@media only screen and (max-width: 46.1875rem) {
  #weather {
    width: 280px;
  }
  .weather__capital--city {
    font-size: 30px;
  }
  .weather__capital--country {
    font-size: 26px;
  }
  .weather__content--temperature {
    margin: 0 20px;
    font-size: 50px;
    padding: 15px;
  }
  .weather__content--season {
    font-size: 26px;
  }

  /* Clouds */
  .cloud1 {
    max-width: 250px;
  }
  .cloud2 {
    max-width: 400px;
    bottom: 0;
  }
  .cloud3 {
    max-width: 200px;
  }
  .cloud5 {
    max-width: 200px;
  }

  /* Bird */
  .bird--one {
    transform: scale(1.2);
    top: -190px;
    position: absolute;
  }

  .bird--eight {
    top: -220px;
    position: absolute;
  }

  .bird-container--eight {
    animation-duration: 15s;
    animation-delay: 5.25s;
  }
}

/* TABLET (Ipad Air) */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  #weather {
    width: 80%;
    height: 80%;
  }
  .weather__capital {
    font-size: 52px;
  }
  .weather__content--time {
    font-size: 30px;
  }
  .weather__content--temperature {
    padding: 50px;
    font-size: 7.5rem;
  }
  #degrees {
    font-size: 65px;
  }
  .weather__content--season {
    font-size: 4rem;
  }
  .weather__content--details {
    justify-content: space-around;
  }
  .weather__content--details div i {
    font-size: 35px;
  }
  .weather__content--details div span {
    font-size: 25px;
  }
}
